<div class="container full-width">
  <div class="full-width">
    <h1>Class decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators are applied to a class.</p>
  </div>

  <div class="full-width">
    <h1>Method decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators...</p>
  </div>

  <div class="full-width">
    <h1>Parameter decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators...</p>
  </div>

  <div class="full-width">
    <h1>Property decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators...</p>
  </div>
</div>