<div class="container full-width">
  <!-- Class decorators -->
  <div class="full-width">
    <h1>Class decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators are applied to a class.</p>

    <h4>Typical uses</h4>
    <p>Typical uses:</p>
    <ul>
      <li></li>
    </ul>

    <h4>Decorator in action! (example)</h4>
    <p></p>
  </div>

  <!-- Method decorators -->
  <div class="full-width">
    <h1>Method decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators...</p>

    <h4>Decorator composition</h4>
    <p>Decorator composition</p>

    <h4>Typical uses</h4>
    <p>Typical uses:</p>
    <ul>
      <li></li>
    </ul>

    <h4>Decorator in action! (example)</h4>
    <p></p>
  </div>

  <!-- Parameter decorators -->
  <div class="full-width">
    <h1>Parameter decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators...</p>

    <h4>Typical uses</h4>
    <p>Typical uses:</p>
    <ul>
      <li></li>
    </ul>

    <h4>Decorator in action! (example)</h4>
    <p></p>
  </div>

  <!-- Property decorators -->
  <div class="full-width">
    <h1>Property decorators</h1>
    <hr style="margin-top:-20px" />
    <h3>XXXXX</h3>
    <p>This kind of decorators...</p>

    <h4>Typical uses</h4>
    <p>Typical uses:</p>
    <ul>
      <li></li>
    </ul>

    <h4>Decorator in action! (example)</h4>
    <p></p>
  </div>
</div>